.brands-wrapper {
  margin-top: 6em;
}

.brands-title {
  .h1 {
    font-size: 46px;
  }
}

.brand-slide {
  width: 10vw;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.grab {
  &:hover {
    cursor: grab;
  }
}

.why-zoyas {
  .h1 {
    font-size: 46px;
  }
}

.why-zoyas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr 1.8fr 3fr 1.5fr 3fr 2fr;
  grid-template-rows: 1fr 1.3fr;
  padding-top: 5em;
  .h2 {
    font-size: 22px;
    text-align: center;
    margin-top: 2.5em;
  }
}

.why-zoyas-title {
  grid-column: 1/3;
  grid-row: 1/3;
}

.zoyas-1 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.zoyas-2 {
  grid-column: 6/7;
  grid-row: 2/3;
}

.zoyas-3 {
  grid-column: 8/9;
  grid-row: 1/3;
}

////

.stay-in {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 11em;
  margin-top: 8em;
  margin-bottom: 10em;
  .h1 {
    font-size: 46px;
    float: right;
    margin-bottom: 0.5em;
  }
}

.stay-in-title {
  width: 30vw;
}

.widget-area {
  width: 36vw;
  position: relative;
}

.widget-area-email {
  padding: 0;
  padding-left: 25px;
  border: 2px solid #17aba6;
  border-radius: 30px;
  height: 60px;
  width: 100%;
  &::placeholder {
    color: #292828;
    font-size: 16px;
    font-weight: 600;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.widget-area-submit {
  position: absolute;
  top: 28%;
  right: 1.5em;
  background: white;
  color: #242424;
  border: none;
  cursor: pointer;
}
